body{
    font-family: 'Roboto';
}
h1 img{
    width: auto;
    display: inline-block;
}
*{
    
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Roboto';
}
/*Barra de navegacion*/
header{
    background-color:  #bbbbbb;
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
.tituloPrincipal{
    position: absolute;
    top: 110px;
    left: 180px;
    text-transform: uppercase;
    color:beige;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav{
    position:absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}
nav a:hover{
    color: #c78c19;
    text-decoration:underline;
}
/*Barra de navegacion*/
.tituloPrincipal{
    padding-left: 1em;
}

.principal{
    background: #cccccc;
    padding: 1em;
}
img{
    width: 100%;
}
p{
    text-align: center;
}
#mision{
    font-size: 20px;
}
p em strong{
    color: red;
}
#diferenciales{
    width: 100%;
    margin: 1em;
}
.diferenciales{
    background-color: white;
    padding: 2em;
}
.tituloCentralizado{
    text-align: center;
}
.items{
    font-style: italic;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    
}
.imagenDiferenciales{
    width: 50%;

}
.banner{
    width: 50px;
}
/**/
.divisor{
    width: 500px;
    height: 200px;
    margin: auto;
    margin-bottom: 2em;
    background: #c78c19;
}
/**/
footer img{
    width: auto;
}
footer{
    background: url(imagenes/bg.jpg);
    text-align: center;
    padding: 2.5em;
}
.copyright{
    color: #ffffff;
    margin: 1.5em;
    font-size: 13px;
}
