*{
    
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Roboto';
}
/*Barra de navegacion*/
header{
    background-color:  #bbbbbb;
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
.tituloPrincipal{
    position: absolute;
    top: 110px;
    left: 180px;
    text-transform: uppercase;
    color:beige;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav{
    position:absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration:underline;
}
/*Barra de navegacion*/

/*Footer*/
footer{
    padding: 2.5em;
    text-align: center;
    background: url(imagenes/bg.jpg);
    
}
.copyright{
    margin: 1.5em;
    font-size: 13px;
    color: #FFFFFF;
}

/*Footer*/

/*-------------------------------------------*/

/*Producto*/
/*Main*/
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /*
    border-color: black;
    border-width: 3px;
    border-style: solid;
    */
    border: 2px solid #000000;
    border-radius: 10px 40px 10px 40px;
}
.productos h2{
    font-size: 25px;
    font-weight: bold;
    

}
.producto-descripcion{
    font-size: 18px;
    padding: 1em;
}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    
}
.productos li:hover{
    border-color: #c78c19;
    font-size: 33px;
}
.productos li:active{
    border-color: #088c19;
    
}
.productos li:hover h2{
    font-size: 30px;
}

/*Main*/
/*Producto*/

/*-------------------------------------------*/

/*Contacto*/
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}

form label,form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padron{
    display: block;
    margin: 0 0 20px 0;
    padding: 1em 2em;
    width: 50%;
}
.checkbox{
    margin: 20px 0; 
}



/*Contacto*/

/*-------------------------------------------*/